body {
    background-image: url(https://get.wallhere.com/photo/1920x1200-px-beach-coast-landscape-photography-sand-sea-water-1061203.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    margin: 0
}