.gallery-center {
    display: flex;
    justify-content: center; /* Центрирование контейнера по горизонтали */
    flex-wrap: wrap; /* Перенос элементов на следующую строку */
}


.photo {
	float: left;
	width: auto
	padding: 3% 5% 3% 5%;
	box-sizing: border-box;
}

.photo img {
    display: block;
    max-width: 90%;
    height: auto;
    border: 10px solid #eee;
    box-sizing: border-box;
}
.photo a:hover {
    opacity: 0.5;
}
.photo a {
    display: block;
    position: relative;
}
.photo a:after {
    content: '';
    background: transparent url(../img/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.photo:hover> a:after {
    visibility: visible;
}
.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}




