{% extends 'base.html' %}
{% block title %}
Контакты
{% endblock %}

{% block body %}
<h2>Полезные контакты</h2>
<table class="table">
	<thead>
		<tr>
			<th>Наименование</th>
			<th>Адрес</th>
			<th>Телефон</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Детский сад № 47</td>
			<td>Пермский край , Чусовской р-н, с. Сёла,
				<br> ул. Набережная, д. 14</td>
			<td>+7 (34256) 3-16-41;</td>
		</tr>
		<tr>
			<td>МАОУ "Сельская СОШ"</td>
			<td>Пермский край , Чусовской р-н, с. Сёла,
				<br> ул. Школьная, д. 1</td>
			<td>+7 (34256) 3-16-25</td>
		</tr>

		<tr>
			<td>Почта России</td>
			<td>Пермский край, Чусовской р-н, с. Сёла,
				<br> ул. Набережная, д. 20</td>
			<td>+7 (34256) 3-16-31</td>
		</tr>
		<tr>
			<td>
				<a style="font-size: 16px; text-decoration: none; color: green"
					 href="https://vk.com/public167533751"
				>Сёльская библиотека №7</a>
			</td>
			<td>Пермский край, Чусовской р-н, с. Сёла,
				<br> ул. Центральная, д. 4</td>
			<td>+7 (34256) 3-17-96</td>
		</tr>

		<tr>
			<td>ООО "КЛЮЧИ"</td>
			<td>Пермский край, Чусовской р-н, с. Сёла,
				<br> ул. Центральная, д. 11
			<td>+7 (34256) 3-16-19; +7 (34256) 3-16-45</td>
		</tr>
	</tbody>
</table>
{% endblock %}

