{% extends 'base.html' %}
{% block title %}
  Контакты
{% endblock %}

{% block body %}
  <h2><font style="vertical-align: inherit;"><font
          style="vertical-align: inherit;">Контакты</font></font></h2>
  <p><font style="vertical-align: inherit;">Telegram: <a
          href="https://t.me/RattButler"><img src="static/css/img/tlg_icon.png"></a> </font></p>
  <p><font style="vertical-align: inherit;"><font
      style="vertical-align: inherit;">Электронное письмо: </font></font><a href="mailto:taren4ik@protonmail.com"
      onclick="this.href=this.href.replace(/DOT/,'@')"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Связаться со мной</font></font></a></p>

{% endblock %}
