{% extends 'base.html' %}
{% block title %}
Контакты
{% endblock %}

{% block body %}
<h1 style="margin-center: 0%;"> Наши услуги </h1>
<div class="div_about">
  <table>
    <tr>
      <th>Наименование</th>
      <th>Выход, гр.</th>
      <th>Цена, руб.</th>
    </tr>
    <tr>
      <td>Ассорти из овощей, зелени и сыра</td><td>250</td>
      <td>190</td>
    </tr>
    <tr>
      <td>Ассорти мясное</td>
      <td>250</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Ассорти рыбное (семга с/с, форель с/с)</td>
      <td>250</td>
      <td>350</td>
    </tr>
    <tr>
      <td>Ассорти грибное</td>
      <td>120</td>
      <td>150</td>
    </tr>
    <tr>
      <td>Соления из бочки (помидоры, огурцы, перец, чеснок, капуста)</td>
      <td>250</td>
      <td>180</td>
    </tr>
</table>
</div>
{% endblock %}

