{% extends 'base.html'%}

{% block title %}
Развлечения
{% endblock %}

{% block body %}
  <h2><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">Развлечения</font></font></h2>

  <div class="fish" style="padding-bottom: 10%">
    <a style="color: #EE82EE" href="https://www.forelsekofermy.ru/">Рыбалка
      на
      форелевой ферме</a>
    <p style="text-indent: 25px"><img src="static/css/img/fish.jpg" align="left"
     style="height: 15%; width: 15%" ;
     alt="Форелевая ферма">
        Форелевое хозяйство - это отличный способ отдохнуть и
      интересно провести время. Здесь вы всегда сможете поймать и
      приготовить свежую форель.
    </p>
  </div>

  <div class="saint"  style="padding-bottom: 10%">
    <a style="color: #EE82EE" href="">Купель Казанской Божьей Матери</a>
    <p style="text-indent: 25px;"><img src="static/css/img/saint.jpg"
     style="height: 15%; width: 15%;" align="left"
     alt="Купель Казанской Божьей Матери">
      В XVIII или XIX веке, в лесу, близ селения Заболотье, была явлена
      Казанская икона Божией Матери. Место это расположено в пяти километрах
      от поселка Верхнечусовские Городки, через реку. Явленная икона была
      перенесена в приходской храм Рождества Христова, но на утро пропала.
      Нашли её опять на источнике, где она явилась впервые, и снова её
      перенесли в церковь. Утром же, она не была там обнаружена, и так в
      общем было три раза. После третьего раза люди решили построить часовню
      на месте явления иконы. В построенной часовне икона обрела свой дом и
      больше не исчезала чудесным образом.

        Прошло время наступил век XX, революция, коммунисты и всё
      сопутствующее - гонения на церковь и всё такое. Икона всё таки была
      сохранена местными жителями и после агрессии была принесена во
      Всесвятский храм. В настоящее время икона является главной святыней
      Верхнечусовской Богородице-Казанской Трифоновой женской пустыни,
      расположенной на Метейной горе, на правом береги реки Чусовой,
      в 70 км от Перми.

        Сам источник находится у деревни Заболотье, где располагается
      скит монастыря. Вода источника и поныне славится своей целебной силой.
      Ежегодно сюда совершается крестный ход.
    </p>
  </div>


{% endblock %}