{% extends 'base.html'%}

{% block title %}
Развлечения
{% endblock %}

{% block body %}
  <h3>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Достопримечательности</font>
    </font>
  </h3>


  <div class="saint"  style="padding-bottom: 10%">
    <a style="color: #EE82EE" href="https://yandex.ru/maps/?um=constructor%3Abe462081c1606c9fc78e31b571c206e40bbcd3c859ae3889a5610d3a2356a51e&source=constructorLink">Купель Казанской Божьей Матери</a>
    <p style="text-indent: 25px;"><img src="static/css/img/saint.jpg"
     style="height: 25%; width: 25%;" align="left"
     alt="Купель Казанской Божьей Матери">
      В XVIII или XIX веке, в лесу, близ селения Заболотье, была явлена
      Казанская икона Божией Матери. Место это расположено в пяти километрах
      от поселка Верхнечусовские Городки, через реку. Явленная икона была
      перенесена в приходской храм Рождества Христова, но на утро пропала.
      Нашли её опять на источнике, где она явилась впервые, и снова её
      перенесли в церковь. Утром же, она не была там обнаружена, и так в
      общем было три раза. После третьего раза люди решили построить часовню
      на месте явления иконы. В построенной часовне икона обрела свой дом и
      больше не исчезала чудесным образом.

        Прошло время наступил век XX, революция, коммунисты и всё
      сопутствующее - гонения на церковь и всё такое. Икона всё таки была
      сохранена местными жителями и после агрессии была принесена во
      Всесвятский храм. В настоящее время икона является главной святыней
      Верхнечусовской Богородице-Казанской Трифоновой женской пустыни,
      расположенной на Метейной горе, на правом береги реки Чусовой,
      в 70 км от Перми.

        Сам источник находится у деревни Заболотье, где располагается
      скит монастыря. Вода источника и поныне славится своей целебной силой.
      Ежегодно сюда совершается крестный ход.
    </p>
  </div>
  <div class="fish" style="padding-bottom: 10%">
    <a style="color: #EE82EE"
       href="https://yandex.ru/maps/?um=constructor%3A7a65cbd9e0da60f48530dbb49eacac4e3b149a3322f7d503d96251750beb66dc&source=constructorLink">Сероводородный источник</a>
    <p style="text-indent: 25px"><img src="static/css/img/source.jpg"
                                      align="left"
     style="height: 25%; width: 25%" ;
     alt="Сероводородный источник">
        Еще с давних времен люди заметили и оценили благоприятное,
      лечебное действие сероводородных источников. Целебная вода, созданная
      самой природой и содержащая в своем составе огромное количество полезных
      элементов, концентрация которых в каждом источнике индивидуальна,
      оказывает регенерирующее, успокаивающее действие при заболеваниях и
      повреждениях кожи, способствует повышению иммунитета и
      укреплению костной системы и организма в целом. Поэтому посетить
      данное место не только интересно, но и полезно.
    </p>
  </div>

  <div class="fish" style="padding-bottom: 10%">
    <a style="color: #EE82EE" href="https://www.forelsekofermy.ru/">Рыбалка
      на
      форелевой ферме</a>
    <p style="text-indent: 25px"><img src="static/css/img/fish.jpg" align="left"
     style="height: 25%; width: 25%; margin-right: 25px;" ;
     alt="Форелевая ферма">
        Форелевое хозяйство - это отличный способ отдохнуть и
      интересно провести время. Здесь вы всегда сможете поймать и
      приготовить свежую форель.
    </p>
  </div>

{% endblock %}