{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}

{% block body %}
 <main class="px-3">
    <h1><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">Портал сельского поселения</font></font></h1>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Поселение известно с 1647 года как «деревня на Селах».

Селом стало в 1895 году, когда здесь была построена Пророко-Ильинская деревянная церковь.

В 1929 году образован ТОЗ «Труд» (позднее — колхоз), укрупнённый 20 апреля 1959 года.

8 января 1969 года на базе колхозов «Труд» и «40 лет Октября» создан совхоз «Труд».  </font></font></p>

  </main>
{% endblock %}