<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <h1>login page</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    <form method="post">
      <table>
        <tr>
          <td><input type="text" name="phone"></td>
        </tr>
        <tr>
          <td><input type="password" name="password"></td>
        </tr>

        <tr>
          <td><a href="{{ url_for ('signup') }}">Регистрация</a></td>
          <td><input type="submit" value="Войти"></td>
        </tr>
      </table>
    </form>
  </body>
</html>