{% extends 'base.html' %}
{% block title %}
Объявления
{% endblock %}

{% block body %}
<h1 style="margin-center: 0%;"> Список объявлений</h1>
  {% for post in posts_new %}
    <div class="alert alert-info">
      <h2>{{ post.title }}</h2>
      <p>Объявление: {{ post.text }}</p>
      <p>Автор: {{ post.name }}</p>
      <p>Телефон: {{ post.phone }}</p>
      <p>Дата размещения: {{ post.date.strftime('%d %B %Y') }}</p>
      <a href="/posts/{{post.id }}/delete" class="btn btn-danger">Удалить</a>
    </div>
  {% endfor %}

<div class="container mt-5">
  <h2>Новое объявление</h2>
    <form method="post">
      <input type="text" name="title" id="title" class="form-control"
             placeholder="Введите название объявления"><br>
      <textarea type="text" name="text" id="text" class="form-control"
                placeholder="Введите текст объявления"
      ></textarea><br>
      <input type="tel" name="phone" id="phone" class="form-control"
             placeholder="Введите номер для контакта"><br>
      <input type="submit"  class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}
